/*
--primary-color: #a0c1d1;
--secondary-color: #232c33;
--accent1-color: #d0fef5;
--accent2-color: #8d6b94;
*/
body {
  background-color: #232c33;
  font-family: "Lucida Grande", "Trebuchet MS", "Lucida Sans Unicode";
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
header {
  background-color: #232c33;
}
footer {
  background-color: rgb(121, 121, 121);
  font-size: 26px;
  color: black;
  padding: 25px 50px;
  padding-top: 15px;
}
footer a {
  color: black;
  text-decoration: none;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
footer a:hover {
  color: black;
}

nav a {
  color: black;
}
nav a:hover {
  background-color: rgb(121, 121, 121);
  color: black;
}
.home-title {
  color: black;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: black;
}
.book,
.join {
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book {
  background-color: aliceblue;
  color: black;
}
.book:hover {
  background-color: lightgreen;
  color: black;
}
.join {
  background-color: aliceblue;
  color: black;
}
.join:hover {
  background-color: lightgreen;
  color: black;
}
.msg {
  background-color: aliceblue;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
  color: black;
}
.msg p {
  color: black;
  padding-bottom: 15px;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
nav a {
  text-align: center;
  text-decoration: none;
  padding: 35px;
}

#hero-img {
  width: 100%;
}
#hero-img h1 {
  text-align: center;
}
#hero-img h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
#background {
  height: 225px;
  background-color: aliceblue;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.logo {
  width: 80px;
}
#logo_link {
  padding-top: 5px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #8d6b94;
}
